{% extends 'base.html.twig' %}
{% block body %}
    <h1>Connexion</h1>

    <form action="{{ path('login') }}" method="post">
        <div class="form-group">
            <input type="text" placeholder="login" required name="_username"><br>
            <input type="password" placeholder="password" required name="_password">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Connexion</button>
        </div>
    </form>
{% endblock  %}